@{
    Layout = "~/Views/_MainLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <table>
        <tr>
            <td width="5%">Poner menu especifico para Screen analyze trade</td>
        </tr>
        <tr>
            <td>@RenderBody()</td>
        </tr>
    </table>
</body>
</html>
