@model Analyst.Web.Models.ScreenAnalyzeTradeModel
@{
    ViewBag.Title = "StartView";
    Layout = "~/Views/ScreenAnalyzeTrade/_ScreenAnalyzeTradeLayout.cshtml";
}
@using System.Data



<h2>ScreenView</h2>

@using (Html.BeginForm("ScreenerUploadfile", "ScreenanAlyzeTrade", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload excel:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload excel" />
    <br><br>
    @ViewBag.Message
}



<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        @if (Model.ExcelDataTable != null)
        {
        <table class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">

            <tr>
                @foreach (DataColumn col in Model.ExcelDataTable.Columns)
                {
                    <th>@col.ColumnName</th>
                }

            </tr>
            @foreach (DataRow row in Model.ExcelDataTable.Rows)
            {
                <tr>
                    @foreach (DataColumn col in Model.ExcelDataTable.Columns)
                    {
                        <td>@row[col.ColumnName]</td>
                    }
                </tr>
            }
        </table>
        }
    </div>
</div>

