@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<div class="text-body">
    API methods:
    <ul>
        <!--IIS-->
        <!--
        <li><a href="/FinancialAnalyst.WebAPI/api/Portfolios/getportfoliosbyuser" target="_blank">GetPortfoliosByUser</a></li>
        <li><a href="/FinancialAnalyst.WebAPI/api/DataSources/getstockdata?ticker=ko&exchange=NYSE" target="_blank">GetAssetData - Coca Cola</a></li>
        <li><a href="/FinancialAnalyst.WebAPI/api/DataSources/getstockdata?ticker=MSFT&exchange=NASDAQ" target="_blank">GetAssetData - Microsoft</a></li>
        <li><a href="/FinancialAnalyst.WebAPI/api/DataSources/getstockdata?ticker=AAPL&exchange=NASDAQ" target="_blank">GetAssetData - Apple</a></li>
        -->
        <!--IIS Express-->
        <li><a href="api/Portfolios/getportfoliosbyuser" target="_blank">GetPortfoliosByUser</a></li>
        <li><a href="api/DataSources/getstockdata?ticker=ko&exchange=NYSE" target="_blank">GetAssetData - Coca Cola</a></li>
        <li><a href="api/DataSources/getstockdata?ticker=MSFT&exchange=NASDAQ" target="_blank">GetAssetData - Microsoft</a></li>
        <li><a href="api/DataSources/getstockdata?ticker=AAPL&exchange=NASDAQ" target="_blank">GetAssetData - Apple</a></li>
    </ul>
    <hr>
    US Treasury data:
    <ul>
        <li><a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/pages/TextView.aspx?data=yield" target="_blank">U.S. DEPARTMENT OF THE TREASURY</a></li>
        <li>
            <a href="http://data.treasury.gov/feed.svc/DailyTreasuryYieldCurveRateData?$filter=month(NEW_DATE) eq 3 and year(NEW_DATE) eq 2020" 
               title="DailyTreasuryYieldCurveRateData XML" 
               xmlns:fmt="urn:treasury-xslt-fmt" 
               xmlns:msxml="urn:schemas-microsoft-com:xslt" 
               xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices" 
               xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" 
               xmlns:a="http://www.w3.org/2005/Atom" 
               class="external"
               target="_blank">
                <img src="https://www.treasury.gov/Style%20Library/Images/Treas/xml.gif" alt="XML">
            </a>
        </li>
    </ul>
    <hr />
    <div>
        <a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetcore-3.1">Use multiple environments in ASP.NET Core</a>
        <br />
        <environment include="Development">
            <div>The effective tag is: &lt;environment include="Development"&gt;</div>
        </environment>
        <environment exclude="Development">
            <div>The effective tag is: &lt;environment exclude="Development"&gt;</div>
        </environment>
        <environment include="Staging,Development,Staging_2">
            <div>
                The effective tag is:
                &lt;environment include="Staging,Development,Staging_2"&gt;
            </div>
        </environment>
    </div>
</div>

