@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<div class="text-body">
    API methods:
    <ul>
        <li><a href="/api/WeatherForecast" target="_blank">WeatherForecast</a></li>
        <li><a href="/api/Portfolios/getportfoliosbyuser" target="_blank">GetPortfoliosByUser</a></li>
        <li><a href="/api/DataSources/getassetdata?ticker=ko&market=NYSE" target="_blank">GetAssetData - Coca Cola</a></li>
        <li><a href="/api/DataSources/getassetdata?ticker=MSFT&market=NASDAQ" target="_blank">GetAssetData - Microsoft</a></li>
    </ul>
</div>

