@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <table>
        <tr>
            <td width="5%" valign="top">Poner menu especifico para Edgar</td>
            <td>@RenderBody()</td>
        </tr>
    </table>
        
</div>