@{
    Layout = "~/Views/_MainLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td width="5%" valign="top">Poner menu especifico para Edgar</td>
                <td>@RenderBody()</td>
            </tr>
        </table>
        
    </div>
</body>
</html>
