@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <br />
        <a href="readme">Readme.html de la sec que explica los archivos dataset usados como source</a>
        <br />
        <a href="secforms">SEC Forms</a>
        <br />
        <a href="sics">SIC Codes</a>
        <br />
        <a href="datasets/all">Ver datasets</a>
    </div>
</body>
</html>
