@{
    Layout = "~/Views/Edgar/_EdgarLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href="askedgar/home">Ask Edgar Home</a>
        <br />
        <a href="datasets/process">Edgar Datasets - Process</a>
        <br />
        <a href="datasets/readme">Edgar Datasets - Readme</a>
        <br />
        <a href="files/home">Edgar Indexes and files</a>
        <br />
        <a href="registrants">Registrants</a>
        <br />
        <a href="secforms">SEC Forms</a>
        <br />
        <a href="sics">SIC Codes</a>
        <br />
    </div>
</body>
</html>
