
@{
    Layout = "~/Views/Edgar/_EdgarLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ask Edgar Home</title>
</head>
<body>
    <div> 
        El objetivo de esta seccion es poder consultar toda la informacion disponible en Edgar, ya sea:
        <ul>
            <li>Balances --> A traves de los datasets</li>
            <li>Toda la documentacion --> A traves de los indices y archivos</li>
        </ul>

    </div>
</body>
</html>
