@model Analyst.Web.Models.AskEdgarModel
@{
    ViewBag.Title = "Ask Edgar";
    Layout = "~/Views/Edgar/_EdgarLayout.cshtml";
}
@using System.Data
@using Analyst.Domain.Edgar
@using PagedList.Mvc

<link href="~/styles/PagedList.css" rel="stylesheet" type="text/css" />

<div>
    El objetivo de esta seccion es poder consultar toda la informacion disponible en Edgar, ya sea:
    <ul>
        <li>Balances --> A traves de los datasets</li>
        <li>Toda la documentacion --> A traves de los indices y archivos</li>
    </ul>
    <a href="https://www.sec.gov/edgar/searchedgar/cik.htm">Buscador de CIK, dado el nombre de la empresa --> para completar las empresas que se obtienen de los indices</a>
    <br />
    Otra opcion, por ejemplo:<br />
    <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1386509" target="_blank">'5AM Ventures II LP': https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=1386509</a>
    <br />
    <br />
</div>
<script>
    funcition openPopup(page)
    {
        alert(page);
        alert('@Url.Action("GetRegistrantsBy", "AskEdgar", new { sortOrder="asdf", currentFilter="qwer", searchString="zxcv", page =- 1 },this.Request.Url.Scheme)');
    }
</script>

<a  onclick="javascript:openPopup('registrants')>Registrants</a>
<br />
<a onclick="javascript:openPopup('filings')>filings</a>



