
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        Aca tengo que poder cargar todo lo que no esta en los datasets, es decir, toda la data de los indices
        <br />
        sobre los indices debo poder generar consultas --> aca conviene un approach de business inteligence porque hay mucho para investigar
        <br />
        <a href="https://www.sec.gov/Archives/edgar/full-index/">edgar full index</a>
    </div>
</body>
</html>
