
@{
    ViewBag.Title = "StartView";
    Layout = "~/Views/ScreenAnalyzeTrade/ScreenAnalyzeTradeLayout.cshtml";
}

<h2>StartView</h2>
Aca voy a mostar:
<ul>
    <li>los analisis realizados</li>
    <li>la posibiliad de crear un nuevo analisis</li>
    <li>la posibilidad de configurar el analisis</li>
</ul>
<hr />
@ViewBag.asdf

 


