
@{
    ViewBag.Title = "StartView";
    Layout = "~/Views/ScreenAnalyzeTrade/_ScreenAnalyzeTradeLayout.cshtml";
}

<h2>StartView</h2>
Aca voy a mostar:
<ul>
    <li>como usuario quiero ver los analisis realizados</li>
    <li>como usuario quiero crear un nuevo analisis</li>
    <ul>
        <li>quiero correr el screener configurado por default
        <li>o debo poder cargar un conjunto de compañias a partir de un excel (output de otro screener)</li>
        <li>como usuario quiero guardar links relacionados (por ejemplo: paginas con explicaciones sobre el negocio)</li>
        <li>como usuario quiero poder guardar documentos (pdf) relacionados</li>
        <li>¿que voy a mostrar de cada empresa?</li>
    </ul>
    <li>la posibilidad de configurar el screener por default</li>
</ul>
<hr />
@ViewBag.asdf

 


