@{
    Layout = "~/Views/Edgar/_EdgarLayout.cshtml";
}


@helper Scripts_Angular()
{
    <script src="~/scripts/common/angular.js"></script>
    <script src="~/scripts/edgar/common/edgarServ.js"></script>
    <script src="~/scripts/edgar/datasets/edgardatasetscontroller.js"></script>
    <script src="~/scripts/edgar/askedgar/askedgarcontroller.js"></script>
    <script src="~/scripts/edgar/files/edgarfilescontroller.js"></script>
    <!--<script src="app/angular-simple-pagination.js"></script>-->
}
@helper Script_AngularApp()
{
    <script src="~/scripts/edgar/common/edgarApp.js"></script>
}


<!DOCTYPE html>
<html lang="en" ng-app="edgarApp">
<head>
    <meta charset="UTF-8">
    @Scripts_Angular()
    <title>{{model.Title}}</title>
    <link rel="stylesheet" type="text/css" href="~/styles/global.css">
    <link rel="stylesheet" type="text/css" href="~/styles/angular-simple-pagination.css" />
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>
<body>
    @Script_AngularApp()
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">
                <span class="navbar-text"> Edgar Datasets  </span>
            </a>
        </nav>
    </header>
    <form name="myForm" ng-controller="edgardatasetscontroller">
        <main class="container">
            <h1>Message: {{ model.message }}</h1>
            <br />
            <div>{{model.errorMessage}}</div>
            <br />
            <hr />
            <section class="col pt-5">
                <input type="button" ng-click="startMonitorinDatasets_click()" value="Start monitoring datasets" />
                &nbsp;
                <input type="button" ng-click="stopMonitorinDatasets_click()" value="Stop monitoring datasets" />
                <br />
                <input type="button" ng-click="showDatasets_click()" value="Show datasets" />
                <br />
                <a href="https://www.sec.gov/dera/data/financial-statement-and-notes-data-set.html" target="_blank">Financial Statement and Notes Data Sets</a>
                <br />
                <a href="readme" target="_blank">EDGAR Dataset Readme --> It's the explanation of all source files</a>
                <br />
                <a href="~/edgar/secforms" target="_blank">SEC Forms</a>
                <br />
                <a href="~/edgar/sics" target="_blank">SIC Codes</a>
            </section>
            <!--<section class="col" ng-show="monitoringDatasets">-->
            <section class="col">
                <table class="table table-hover" width="100">
                    <tr>
                        <td><strong>Dataset</strong></td>
                        <td><strong>Submissions</strong></td>
                        <td><strong>Tags</strong></td>
                        <td><strong>Dimensions</strong></td>
                        <td><strong>Numbers</strong></td>
                        <td><strong>Calculations</strong></td>
                        <td><strong>Texts      </strong></td>
                        <td><strong>Renders</strong></td>
                        <td><strong>Presentations</strong></td>
                        <td><strong>Run</strong></td>
                        <td><strong>Options</strong></td>
                    </tr>

                    <tr ng-repeat="dataset in model.datasets | limitTo:pagingSettings.pageLimit:pagingSettings.offset" ng-click="selectDataset(dataset.id);">
                        <td>{{dataset.Year }}Q{{dataset.Quarter}}</td>
                        <td>
                            <span ng-style="progressNumberStyle(dataset.ProcessedSubmissions / dataset.TotalSubmissions * 100)">
                                {{ dataset.TotalSubmissions == 0 ? 0.00 : dataset.ProcessedSubmissions / dataset.TotalSubmissions * 100 | number: 3 }} %
                            </span>
                        </td>
                        <td>
                            <span ng-style="progressNumberStyle(dataset.ProcessedTags / dataset.TotalTags * 100)">
                                {{ dataset.TotalTags == 0 ? 0.00 : dataset.ProcessedTags / dataset.TotalTags * 100 | number: 3 }} %
                            </span>
                        </td>
                        <td>
                            <span ng-style="progressNumberStyle(dataset.ProcessedDimensions / dataset.TotalDimensions * 100)">
                                {{ dataset.TotalDimensions == 0 ? 0.00 : dataset.ProcessedDimensions / dataset.TotalDimensions * 100 | number: 3 }} %
                            </span>
                        </td>
                        <td>
                            <span ng-style="progressNumberStyle(dataset.ProcessedNumbers / dataset.TotalNumbers * 100 )">
                                {{ dataset.TotalNumbers == 0 ? 0.00 : dataset.ProcessedNumbers / dataset.TotalNumbers * 100 | number: 3 }} %
                            </span>
                            <div ng-show="!dataset.IsComplete && dataset.ProcessedNumbers > 0 && dataset.ProcessedNumbers < dataset.TotalNumbers ">
                                <input type="button" value="Delete" ng-click="deleteDataset_click('numbers',dataset.Id)" />
                            </div>
                        </td>
                        <td>
                            <span ng-style="progressNumberStyle(dataset.ProcessedCalculations / dataset.TotalCalculations * 100)">
                                {{ dataset.TotalCalculations == 0 ? 0.00 : dataset.ProcessedCalculations / dataset.TotalCalculations * 100 | number: 3 }} %
                            </span>
                            <div ng-show="!dataset.IsComplete && dataset.ProcessedCalculations > 0 && dataset.ProcessedCalculations < dataset.TotalCalculations">
                                <input type="button" value="Delete" ng-click="deleteDataset_click('calculations',dataset.Id)" />
                            </div>
                        </td>
                        <td>
                            <span ng-style="progressNumberStyle(dataset.ProcessedTexts / dataset.TotalTexts * 100 )">
                                {{ dataset.TotalTexts == 0 ? 0.00 : dataset.ProcessedTexts / dataset.TotalTexts * 100 | number: 3 }} %
                            </span>
                            <div ng-show="!dataset.IsComplete && dataset.ProcessedTexts > 0 && dataset.ProcessedTexts < dataset.TotalTexts">
                                <input type="button" value="Delete" ng-click="deleteDataset_click('texts',dataset.Id)" />
                            </div>
                        </td>
                        <td>
                            <span ng-style="progressNumberStyle(dataset.ProcessedRenders / dataset.TotalRenders * 100)">
                                {{ dataset.TotalRenders == 0 ? 0.00 : dataset.ProcessedRenders / dataset.TotalRenders * 100 | number: 3 }} %
                            </span>
                            <div ng-show="!dataset.IsComplete && dataset.ProcessedRenders > 0 && dataset.ProcessedRenders < dataset.TotalRenders">
                                <input type="button" value="Delete" ng-click="deleteDataset_click('renders',dataset.Id)" />
                            </div>
                        </td>
                        <td>
                            <span ng-style="progressNumberStyle(dataset.ProcessedPresentations / dataset.TotalPresentations * 100)">
                                {{ dataset.TotalPresentations == 0 ? 0.00 : dataset.ProcessedPresentations / dataset.TotalPresentations * 100 | number: 3 }} %
                            </span>
                            <div ng-show="!dataset.IsComplete && dataset.ProcessedPresentations > 0 && dataset.ProcessedPresentations < dataset.TotalPresentations">
                                <input type="button" value="Delete" ng-click="deleteDataset_click('presentations',dataset.Id)" />
                            </div>
                        </td>
                        <td>
                            <div ng-show="!dataset.IsComplete">
                                <input type="button" value="Run" ng-click="processDataset_click(dataset.Id)" /><br />
                            </div>
                        </td>
                        <td>
                            
                            <div ng-show="!dataset.IsComplete">
                                &lt;TBD&gt;
                                <!--
                                Continue if errors: <input type="checkbox" value="Continue if errors" id="chkContinueIfErrors" /><br />
                                Process with notes<input type="radio" name="datasetsradio" value="with notes" id="radioWithNotes" />
                                or without notes<input type="radio" name="datasetsradio" value="without notes" id="radioWithoutNotes" /><br />
                                <input type="button" value="test" ng-click="test_click(dataset.Id)" /><br />
                                -->
                            </div>
                            <div ng-show="dataset.IsComplete">
                                Completed
                            </div>
                        </td>
                        <td>
                            <div id="lblMsg{{dataset.id}}"></div>
                        </td>
                    </tr>
                </table>
                <pre>{{model.datasetsMessage}}</pre>
                <br />
                <div style="height:300px;width:700px;overflow-y:scroll" ng-show="false">
                    <pre>raw data = {{model.datasets | json}}</pre>
                </div>
                <br />
            </section>
        </main>
    </form>
</body>
</html>
