<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a href="~/home">home</a><br />
        aca quiero agregar el menu principal: <br />
        Ask edgar (front y back)<br />
        ScreenAnalyzeTrade<br />
        PortfolioManager<br />
        Anotar las otras ideas!!<br />
        <hr />
        @RenderBody()
    </div>
</body>
</html>
