@{
    Layout = "~/Views/_MainLayout.cshtml";
}


<div>
    Pagina principal, aca puede ir un dashboard.
    <br />
    Por ahora, ir anotando las ideas:
    <ul>
        <li>Screen --> Analyze --> Trade</li>
        <li>Portfolio Managemer (profitability, sigma, beta)</li>
        <li>Modelo de las Z inverso a partir de S&P 500 para saber retornos esperados por el mercado</li>
        <li>Valuador de opciones</li>
        <li>Private equity</li>
    </ul>
    <br />
    Data sources:
    <ul>
        <li>Edgar</li>
        <li>YQL</li>
        <li>Morningstar</li>
        <li>Finviz</li>
        <li>Reuters</li>
        <li>
            ¿web api de msn money? <br />
            Ejemplo: <a href="https://finance.services.appex.bing.com/Market.svc/ChartAndQuotes?symbols=126.1.GOOGL.NAS&chartType=1d&isETF=false&iseod=False&lang=en-US&isCS=false&isVol=true&prime=true">GOOGL</a>
        </li>
        <li>Broker A</li>
        <li>Broker B</li>
    </ul>
    <hr />
    <div>¿Migracion a .net core?: <a href="https://docs.microsoft.com/es-es/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-2.2" target="_blank">hosted services</a></div>
</div>