@{
    Layout = "~/Views/_MainLayout.cshtml";
}


<a href="edgar/home">Edgar home</a>
<br />
<br />
<a href="edgar/askedgar/home">Edgar - Ask Edgar</a>
<br />
<br />
<a href="edgar/datasets/process">Edgar - Datasets: Status and process</a>
<br />
<br />
<a href="edgar/files/home">Edgar - Files: Indexes and files</a>
<br />
<br />
<a href="screenanalyzetrade/home">Screen --> Analyze --> Trade</a>
<br />
<br />
<a href="#">Portfolio Managemer (profitability, sigma, beta)</a>
<br />
<br />
<a href="#">Modelo de las Z inverso a partir de S&P 500 para saber retornos esperados por el mercado</a>
<br />
<br />
<a href="#">Valuador de opciones</a>
<br />
<br />
Data sources
<ul>
    <li>Edgar</li>
    <li>YQL</li>
    <li>Morningstar</li>
    <li>TD Ameritrade</li>
    <li>¿web api de msn money? <br />
        Ejemplo: <a href="https://finance.services.appex.bing.com/Market.svc/ChartAndQuotes?symbols=126.1.GOOGL.NAS&chartType=1d&isETF=false&iseod=False&lang=en-US&isCS=false&isVol=true&prime=true">GOOGL</a>
    </li>
</ul>